[Unit]
Description=couchpotato
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull {{ pillar['couchpotato']['image'] }}:{{ pillar['couchpotato']['tag'] }}
ExecStart=/usr/bin/docker run --rm --name %n \
          --env-file={{ pillar['couchpotato']['env_file'] }} \
          --label-file={{ pillar['couchpotato']['label_file'] }} \
          --volume={{ pillar['couchpotato']['config'] }}:/config \
          --volume={{ pillar['couchpotato']['downloads'] }}:/downloads \
          --volume={{ pillar['couchpotato']['media'] }}:/media \
          {{ pillar['couchpotato']['image'] }}:{{ pillar['couchpotato']['tag'] }}

[Install]
WantedBy=multi-user.target
